<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Tiny Dashboard - A Bootstrap Dashboard Template</title>

    <!-- Simple bar CSS -->
    <link rel="stylesheet" th:href="@{/css/simplebar.css}">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" th:href="@{/css/feather.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap4.css}">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" th:href="@{/css/daterangepicker.css}">
    <!-- App CSS -->
    <link rel="stylesheet" th:href="@{/css/app-light.css}" id="lightTheme">
    <link rel="stylesheet" th:href="@{/css/app-dark.css}" id="darkTheme" disabled>
</head>
<body class="vertical  light  ">
<div class="wrapper">
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div th:replace="~{fragments/navbar :: sidebar}"></div>


    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="mb-2 page-title">Distritos</h2>
                            <!--                    <p th:text="|Hola ${nombre}|"></p>-->
                        </div>
                        <div class="col-md-6 text-right">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn mb-2 btn-primary" data-toggle="modal" data-target="#defaultModal"> Add New</button>
                        </div>
                    </div>
                    <p class="card-text">DataTables is a plug-in for the jQuery Javascript library. It is a highly flexible tool, built upon the foundations of progressive
                        enhancement, that adds all of these advanced features to any HTML table. </p>
                    <div class="row my-4">

                        <!-- Small table -->
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <!-- table -->
                                    <table class="table datatables" id="dataTable-1">
                                        <thead>
                                        <tr>
                                            <!--                                            <th></th>-->
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Estado</th>
                                            <th>Creado</th>
                                            <th>Editado</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="dis : ${distritos}">
                                            <td th:text="${dis.id}"></td>
                                            <td th:text="${dis.descripcion}"></td>
                                            <td th:text="${dis.estado}"></td>
                                            <td th:text="${#temporals.format(dis.createdAt, 'dd-MM-yyyy')}"></td>
                                            <td th:text="${dis.updatedAt}"></td>
                                            <td>
                                                <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <span class="text-muted sr-only">Action</span>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <!-- Button trigger modal -->

                                                    <button type="button" class="btn mb-2 btn-outline-warning" th:onclick="|modalFill(${dis.id})|"> Editar</button>
                                                    <button type="button" class="btn mb-2 btn-outline-danger" th:onclick="|registroDelete(${dis.id})|"> Eliminar</button>
                                                    <!--                                                    <a class="dropdown-item" href="#">Edit</a>-->
                                                    <!--                                                    <a class="dropdown-item" href="#">Remove</a>-->
                                                    <!--                                                    <a class="dropdown-item" href="#">Assign</a>-->
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> <!-- simple table -->
                    </div>
                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div>


<!-- Modal Create-->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/distrito/create}" method="post" id="form-create">
                    <div class="form-group">
                        <label for="createDistrito">Distrito</label>
                        <input type="text" id="createDistrito" name="createDistrito" class="form-control">
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn mb-2 btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- EndModal Create-->

<!-- Modal Update-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="updateForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="defaultModalLabelEdit">Editar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="updateId">Id</label>
                        <input type="text" id="updateId" name="updateId" class="form-control" readonly="">
                    </div>
                    <div class="form-group">
                        <label for="updateDescripcion">Distrito</label>
                        <input type="text" id="updateDescripcion" name="updateDescripcion" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="updateEstado">Estado</label>
                        <select class="form-control" id="updateEstado" name="updateEstado">
                            <option value="ACTIVO">Activo</option>
                            <option value="INACTIVO">Inactivo</option>
                            <option value="ELIMINADO">Eliminado</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn mb-2 btn-primary" onclick="registroUpdate()">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- EndModal Update-->


<div th:replace="~{fragments/navbar :: modal}"></div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/simplebar.min.js}"></script>
<script type="text/javascript" th:src="@{/js/daterangepicker.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.stickOnScroll.js}"></script>
<script type="text/javascript" th:src="@{/js/tinycolor-min.js}"></script>
<script type="text/javascript" th:src="@{/js/config.js}"></script>
<script type="text/javascript" th:src="@{/js/apps.js}"></script>

<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
<script>
    $('#dataTable-1').DataTable(
        {
            autoWidth: true,
            "lengthMenu": [
                [8, 16, 32, 64, -1],
                [8, 16, 32, 64, "All"]
            ]
        });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-56159088-1');
</script>

<script th:inline="javascript">
    function modalFill(id) {
        $.ajax({
            url: '/distrito/' + id,
            method: 'GET',
            success: function (data) {
                $('#updateId').val(data.id);
                $('#updateDescripcion').val(data.descripcion);
                $('#updateEstado').val(data.estado);

                $('#updateModal').modal('show'); // Mostrar el modal
            },
            error: function (error) {
                console.error('Error al obtener los datos del distrito:', error);
            }
        });
    }

    function registroUpdate() {
        var id = $("#updateId").val();
        var distrito = {
            id: id,
            descripcion: $("#updateDescripcion").val(),
            estado: $("#updateEstado").val(),
        };

        $.ajax({
            url: "/distrito/update/" + id,
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(distrito),
            success: function (response) {
                alert(response);
                $("#editarModal").hide();
                location.reload(); // Recargar la página para ver los cambios
            },
            error: function (xhr, status, error) {
                alert("Error: " + error);
            }
        });
    }

    function registroDelete(id) {
        $.ajax({
            url: "/distrito/delete/" + id,
            type: "DELETE",
            success: function (response) {
                alert(response);
                location.reload(); // Recargar la página para ver los cambios
            },
            error: function (xhr, status, error) {
                alert("Error: " + error);
            }
        });
    }
</script>
</body>
</html>